.button__label {
    position: relative;
}

.button__label::after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: solid 1px #000000;
    border-left: solid 1px #000000;
    transform: rotate(45deg);
}